<!DOCTYPE html>
{% load static pipeline argonauts %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mozy{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        {% if ROLLBAR_CONFIG %}
            <script type="text/javascript">var _rollbarConfig = {{ ROLLBAR_CONFIG|json }};</script>
            {% javascript 'rollbar' %}
        {% endif %}

        {% stylesheet 'base' %}

        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
    {% block body %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'site-index' %}">Mozy</a>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'image-list' %}">Images</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-content">
            {% block content_wrapper %}
            {% endblock content_wrapper %}
        </div>

        {% javascript 'base' %}

        {% block extra_javascript %}
        {% endblock %}
    {% endblock body %}
    </body>
</html>
