# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

# Hypothesis
.hypothesis

# Public/Static files
mozy/public
!mozy/public/static/.gitkeep
!mozy/public/media/.gitkeep

.env

*.egg-info/**
*.sqlite3*
