{% extends 'layout_wide.html' %}
{% load static %}
{% load thumbnail %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'image-list' %}">Images</a></li>
    <li>#{{ image.pk }}</li>
{% endblock %}

{% block content %}
    <div class="col-sm-5">
        {% thumbnail image.image "600" as im %}
            <img src="{{ im.url }}" class="img-responsive center-block">
        {% endthumbnail %}
        {% comment %}
            <img src="{{ image.image.url }}" class="img-responsive center-block">
        {% endcomment %}
    </div>
    <div class="col-sm-7">
        <div>
        </div>
        <h2>Mosaics</h2>
        {% for mosaic_image in image.mosaic_images.all %}
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'mosaicimage-detail' pk=mosaic_image.pk %}">
                        {% thumbnail mosaic_image.mosaic "64x64" as im %}
                            <img src="{{ im.url }}" class="media-object">
                        {% empty %}
                            <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                        {% endthumbnail %}
                        {% comment %}
                        {% if mosaic_image.mosaic %}
                            <img src="{{ mosaic_image.mosaic.url }}" class="media-object">
                        {% else %}
                            <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                        {% endif %}
                        {% endcomment %}
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"># {{ mosaic_image.pk }}</h4>
                </div>
            </div>
        {% empty %}
            <div class="media">
                <div class="media-left">
                    {% thumbnail image.image "64x64" as im %}
                        <img src="{{ im.url }}" class="media-object">
                    {% empty %}
                        <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                    {% endthumbnail %}
                    {% comment %}
                    <img src="{{ image.image.url }}" class="media-object">
                    {% endcomment %}
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Mosaic Generating</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
