{% extends 'layout_wide.html' %}
{% load thumbnail %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>Images</li>
{% endblock %}


{% block content %}
    <h1>
        Images
        <p class="pull-right">
            <small><a href="{% url 'image-create' %}" class="btn btn-primary">Upload new image</a></small>
        </p>
    </h1>
            {% for image in images %}
                {% if forloop.counter|divisibleby:"4" %}
                    <div class="container">
                        <div class="row">
                {% endif %}
                <div class="col-sm-3">
                    {% comment %}
                    {% thumbnail source_image.original "256" as im %}
                    <a href="{% url 'image-detail' pk=source_image.pk %}">
                        <img src="{{ im.url }}" class="img-responsive img-thumbnail">
                    </a>
                    {% endthumbnail %}
                    {% endcomment %}
                    <a href="{% url 'image-detail' pk=image.pk %}">
                        <img src="{{ image.image.url }}" class="img-responsive img-thumbnail">
                    </a>
                </div>
                {% if forloop.counter|divisibleby:"4" %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
