{% extends 'layout_wide.html' %}
{% load thumbnail %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>Mosaics</li>
{% endblock %}


{% block content %}
    <h1>Mosaics</h1>
    {% for mosaic_image in mosaic_images %}
        {% if forloop.counter|divisibleby:"4" %}
            <div class="container">
                <div class="row">
        {% endif %}
        <div class="col-sm-3">
            {% thumbnail mosaic_image.mosaic "256x256" crop="top" as im %}
            <a href="{% url 'mosaicimage-detail' pk=mosaic_image.pk %}">
                <img src="{{ im.url }}" class="img-responsive img-thumbnail">
            </a>
            {% empty %}
                <img src="img/missing-mosaic.png" class="img-responsive img-thumbnail">
            {% endthumbnail %}
        </div>
        {% if forloop.counter|divisibleby:"4" %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% include 'partials/pagination.html' %}
{% endblock %}
