{% extends 'layout_wide.html' %}
{% load thumbnail %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'image-list' %}">Images</a></li>
    <li><a href="{% url 'image-detail' pk=mosaic_image.image.source_image_id %}">#{{ mosaic_image.image.source_image_id }}</a></li>
    <li>Mosaic #{{ mosaic_image.pk }}</li>
{% endblock %}


{% block content %}
    <div class="col-sm-12">
        {% thumbnail mosaic_image.mosaic "600" as im %}
            <img src="{{ im.url }}" class="img-responsive center-block">
        {% endthumbnail %}
    </div>
    {% comment %}
    {% for tile_row in mosaic_image.tiles_as_rows %}
        <div>
            {% for tile in tile_row %}
                <img src="{{ tile.tile_image.url }}">
            {% endfor %}
        </div>
    {% endfor %}

    {% for tile_row in mosaic_image.tiles_as_rows %}
        <div>
            {% for tile in tile_row %}
                {% if tile.stock_tile_match %}
                    <img src="{{ tile.stock_tile_match.tile_image.url }}">
                {% else %}
                    <img src="empty">
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% endcomment %}
{% endblock %}
