{% extends 'layout_wide.html' %}
{% load bootstrap3 %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'sourceimage-list' %}">Images</a></li>
    <li><a href="{% url 'sourceimage-detail' pk=source_image.pk %}">#{{ source_image.pk }}</a></li>
    <li>Make New Mosaic</li>
{% endblock %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">
        {% include "partials/form-as-divs.html" %}
        <button type="submit" class="btn btn-primary">Create Mosaic Image</button>
    </form>
{% endblock %}
