{% extends 'layout_wide.html' %}
{% load thumbnail %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'sourceimage-list' %}">Images</a></li>
    <li><a href="{% url 'sourceimage-detail' pk=normalized_source_image.source_image_id %}">#{{ normalized_source_image.source_image_id }}</a></li>
    <li><a href="{% url 'normalizedsourceimage-detail' pk=normalized_source_image.pk %}">Mosaic #{{ normalized_source_image.pk }}</a></li>
{% endblock %}


{% block content %}
    <div class="col-sm-6">
        <img src="{{ normalized_source_image.image.url }}" class="img-responsive center-block">
    </div>
    <div class="col-sm-6">
        <h2>
            Mosaics
            <p class="pull-right">
                <small>
                    <a href="{% url 'mosaicimage-create' pk=normalized_source_image.pk %}" class="btn btn-primary pull-right">
                        Make New Mosaic
                    </a>
                </small>
            </p>
        </h2>
        {% for mosaic_image in normalized_source_image.mosaic_images.all %}
            <img src="{{ mosaic_image.mosaic.url }}" class="img-responsive center-block">
        {% empty %}
            <p>No Mosaic Yet</p>
        {% endfor %}
    </div>
    {% comment %}
    {% for tile_row in mosaic_image.tiles_as_rows %}
        <div>
            {% for tile in tile_row %}
                <img src="{{ tile.tile_image.url }}">
            {% endfor %}
        </div>
    {% endfor %}

    {% for tile_row in mosaic_image.tiles_as_rows %}
        <div>
            {% for tile in tile_row %}
                {% if tile.stock_tile_match %}
                    <img src="{{ tile.stock_tile_match.tile_image.url }}">
                {% else %}
                    <img src="empty">
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% endcomment %}
{% endblock %}
