{% extends 'layout_wide.html' %}
{% load static %}
{% load thumbnail %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'sourceimage-list' %}">Images</a></li>
    <li>#{{ source_image.pk }}</li>
{% endblock %}

{% block content %}
    <div class="col-sm-5">
        {% comment %}
        {% thumbnail source_image.original "600" as im %}
            <img src="{{ im.url }}" class="img-responsive center-block">
        {% endthumbnail %}
        {% endcomment %}
            <img src="{{ source_image.original.url }}" class="img-responsive center-block">
    </div>
    <div class="col-sm-7">
        <div>
        </div>
        <h2>
            Mosaics
            <p class="pull-right">
                <small>
                    <a href="{% url 'normalizedsourceimage-create' pk=source_image.pk %}" class="btn btn-primary pull-right">
                        Make New Mosaic
                    </a>
                </small>
            </p>
        </h2>
        {% for normalized_source_image in source_image.normalized_images.all %}
            {% for mosaic_image in normalized_source_image.mosaic_images.all %}
                <div class="media">
                    <div class="media-left">
                        <a href="{% url 'mosaicimage-detail' pk=mosaic_image.pk %}">
                            {% comment %}
                            {% thumbnail mosaic_image.mosaic "64x64" as im %}
                                <img src="{{ im.url }}" class="media-object">
                            {% empty %}
                                <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                            {% endthumbnail %}
                            {% endcomment %}
                            {% if mosaic_image.mosaic %}
                                <img src="{{ mosaic_image.mosaic.url }}" class="media-object">
                            {% else %}
                                <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"># {{ mosaic_image.pk }}</h4>
                    </div>
                </div>
            {% empty %}
                <div class="media">
                    <div class="media-left">
                        {% comment %}
                        {% thumbnail normalized_source_image.image "64x64" as im %}
                            <img src="{{ im.url }}" class="media-object">
                        {% empty %}
                            <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                        {% endthumbnail %}
                        {% endcomment %}
                        {% if normalized_source_image.image %}
                            <img src="{{ normalized_source_image.image.url }}" class="media-object">
                        {% else %}
                            <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mosaic Generating</h4>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
