{% extends 'layout_wide.html' %}
{% load static %}
{% load thumbnail %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'sourceimage-list' %}">Images</a></li>
    <li>#{{ source_image.pk }}</li>
{% endblock %}

{% block content %}
    <div class="col-sm-5">
        {% thumbnail source_image.original "600" as im %}
            <img src="{{ im.url }}" class="img-responsive center-block">
        {% endthumbnail %}
    </div>
    <div class="col-sm-7">
        <div>
        </div>
        <h2>
            Mosaics
            <p class="pull-right">
                <small>
                    <a href="{% url 'mosaicimage-create' pk=source_image.pk %}" class="btn btn-primary pull-right">
                        Make New Mosaic
                    </a>
                </small>
            </p>
        </h2>
        {% for mosaic_image in source_image.mosaic_images.all %}
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'mosaicimage-detail' pk=mosaic_image.pk %}">
                        {% thumbnail mosaic_image.mosaic "64x64" as im %}
                            <img src="{{ im.url }}" class="media-object">
                        {% empty %}
                            <img src="{% static 'img/no-mosaic.jpg' %}" class="media-object">
                        {% endthumbnail %}
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Dunno what to put here</h4>
                    <p>Dunno what to put here</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
