{% extends 'layout_wide.html' %}
{% load thumbnail %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>Images</li>
{% endblock %}


{% block content %}
    <h1>Images</h1>
            {% for source_image in page_obj %}
                {% if forloop.counter|divisibleby:"4" %}
                    <div class="container">
                        <div class="row">
                {% endif %}
                <div class="col-sm-3">
                    {% thumbnail source_image.original "256" as im %}
                    <a href="{% url 'sourceimage-detail' pk=source_image.pk %}">
                        <img src="{{ im.url }}" class="img-responsive img-thumbnail">
                    </a>
                    {% endthumbnail %}
                </div>
                {% if forloop.counter|divisibleby:"4" %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
